*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-color: #bedfe8;
    
}
.accordion{
    max-width: 600px;
}
.accordion.contentBx{
    
    position:relative;
  margin: 10px 20px;
}
.accordion .contentBx .label{
    position:relative;
    background-color: #2695af;
    padding:10px;
    color:#fff;
    cursor: pointer;
}
.accordion .contentBx .content{
   transition: 0.5s;
   overflow: hidden;
    position: relative;
    background-color: #fff;
    height:0;
    overflow-y: auto;
   padding:1px;

}
.accordion .contentBx .label::before{
    content:'+';
    position:absolute;
    transform: translateY(-50%);
    top:50%;
    right:20px;
    font-size: 1.5em;

}
.accordion .contentBx.active .content {
    height:150px;
    padding:20px;
}
.accordion .contentBx.active  .label::before{
    content:'-'
}


